.label{
    -fx-text-fill: #383838;
    -fx-font-weight: bold;
}

.titles{
    -fx-text-fill: #fff;
    -fx-font-size: 20;
}

.choice-box .label, .radio-button{
    -fx-text-fill: #333;
    -fx-font-weight: normal;
}

/*.radio-button{*/
/*    -fx-text-fill: #fff;*/
/*}*/

/*.VBox{*/
/*    -fx-border-color: rgba(1, 2, 3, 0.1);*/
/*    -fx-border-style: solid;*/
/*    -fx-border-width: 0 0 5 0;*/
/*}*/